---
import "./style.scss";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="sp-form-outer sp-force-hide form">
  <div
    id="sp-form-235822"
    sp-id="235822"
    sp-hash="68895490c0756e8d4f6383e1d8809e316893f3c664416a924967471d8d89019f"
    sp-lang="ua"
    class="sp-form sp-form-regular sp-form-embed"
    sp-show-options="%7B%22satellite%22%3Afalse%2C%22maDomain%22%3A%22login.sendpulse.com%22%2C%22formsDomain%22%3A%22forms.sendpulse.com%22%2C%22condition%22%3A%22onEnter%22%2C%22scrollTo%22%3A25%2C%22delay%22%3A10%2C%22repeat%22%3A3%2C%22background%22%3A%22rgba(0%2C%200%2C%200%2C%200.5)%22%2C%22position%22%3A%22bottom-right%22%2C%22animation%22%3A%22%22%2C%22hideOnMobile%22%3Afalse%2C%22submitRedirectUrl%22%3A%22%22%2C%22urlFilter%22%3Afalse%2C%22urlFilterConditions%22%3A%5B%7B%22force%22%3A%22hide%22%2C%22clause%22%3A%22contains%22%2C%22token%22%3A%22%22%7D%5D%2C%22analytics%22%3A%7B%22ga%22%3A%7B%22eventLabel%22%3A%22Contacts_form_ua%22%2C%22send%22%3Afalse%7D%7D%2C%22utmEnable%22%3Afalse%7D"
  >
    <div class="sp-form-fields-wrapper">
      <div class="sp-message"><div></div></div>
      <form novalidate="" class="sp-element-container">
        <div class="form__container">
          <div class="form__container-leftSide">
            <div
              class="sp-field"
              sp-id="sp-2f51c14d-88dd-4036-841d-a779c16324d8"
            >
              <!-- <label class="sp-control-label"><span></span></label> -->
              <input
                type="text"
                sp-type="input"
                name="sform[TmFtZQ==]"
                class="sp-form-control"
                placeholder={t("placeholder1")}
                sp-tips="%7B%7D"
                autocomplete="on"
              />
            </div>
            <div
              class="sp-field"
              sp-id="sp-6c500d94-9219-4c6b-be42-bc00bac8ec0e"
            >
              <label class="sp-control-label"><span></span></label><input
                type="email"
                sp-type="email"
                name="sform[email]"
                class="sp-form-control"
                placeholder={t("placeholder2")}
                sp-tips="%7B%22required%22%3A%22%D0%9E%D0%B1%D0%BE%D0%B2'%D1%8F%D0%B7%D0%BA%D0%BE%D0%B2%D0%B5%20%D0%BF%D0%BE%D0%BB%D0%B5%22%2C%22wrong%22%3A%22%D0%9D%D0%B5%D0%B2%D1%96%D1%80%D0%BD%D0%B0%20email-%D0%B0%D0%B4%D1%80%D0%B5%D1%81%D0%B0%22%7D"
                autocomplete="on"
                required="required"
              />
            </div>
            <div
              class="sp-field"
              sp-id="sp-8245b7fc-188d-48a1-953b-468df631060c"
            >
              <label class="sp-control-label"><span></span></label><input
                type="tel"
                sp-type="phone"
                name="sform[phone]"
                class="sp-form-control"
                placeholder="xxx-xxx-xxxx"
                sp-tips="%7B%22wrong%22%3A%22%D0%9D%D0%B5%D0%B2%D1%96%D1%80%D0%BD%D0%B8%D0%B9%20%D0%BD%D0%BE%D0%BC%D0%B5%D1%80%20%D1%82%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD%D1%83%22%7D"
                autocomplete="on"
              />
            </div>
          </div>
          <div class="sp-field" sp-id="sp-dec185c6-5e1a-4d5a-9507-9ac4ce29ff31">
            <!-- <label class="sp-control-label"><span></span></label> -->
            <textarea
              sp-type="input"
              name="sform[TWVzc2FnZQ==]"
              class="sp-form-control"
              placeholder={t("placeholder3")}
              sp-tips="%7B%7D"
              autocomplete="on"></textarea>
          </div>
        </div>

        <div
          class="sp-field sp-button-container"
          sp-id="sp-99bfbf7f-329d-47dd-9382-be8f5cd336aa"
        >
          <button id="sp-99bfbf7f-329d-47dd-9382-be8f5cd336aa" class="sp-button"
            >{t("form.button")}
          </button>
        </div>
      </form><div class="sp-link-wrapper sp-brandname__left"></div>
    </div>
  </div>
</div><script
  type="text/javascript"
  async="async"
  src="//web.webformscr.com/apps/fc3/build/default-handler.js?1714030486793"
></script>
<!-- /SendPulse Subscription Form -->
