.form {
  .sp-form {
    padding: 0;
    width: 100%;
    .sp-field {
      padding: 0;
      &.sp-field-full-width {
        display: none;
        padding: 0;
      }
      .iti.iti--allow-dropdown.iti--separate-dial-code {
        width: 100%;
      }
    }
  }
  .sp-element-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sp-button-container {
    button.sp-button {
      font-weight: 400;
      width: 100%;
      height: 52px;
    }
  }
  .sp-button-container {
    button.sp-button {
      position: static;
      border-radius: 8px;
      font-weight: 400;
    }
    button:hover {
      background-color: #e00502;
    }
  }
  .sp-form[sp-id="235822"] {
    .form__container {
      gap: 16px;
      &-leftSide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .sp-field {
          input {
            height: 52px;
            border-radius: 8px;
          }
        }
      }
      > .sp-field {
        textarea {
          margin-top: 16px;
          padding: 8px;
          resize: none;
          min-height: 187px;
          border-radius: 8px;
        }
      }
    }
  }
}

.sp-form[sp-id="235822"] {
  display: block;
  background: rgba(255, 255, 255, 0);
  // padding: 15px;
  // width: 520px;
  width: 100%;
  border-radius: 8px;
  font-family: Arial, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.sp-form[sp-id="235822"] input[type="checkbox"] {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}
.sp-form[sp-id="235822"] .sp-form-fields-wrapper {
  // margin: 0 auto;
  // width: 490px;
}
.sp-form[sp-id="235822"] .sp-form-control {
  background: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  padding-left: 8.75px;
  padding-right: 8.75px;
  border-radius: 4px;
  height: 35px;
  width: 100%;
}
.sp-form[sp-id="235822"] .sp-field label {
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}
.sp-form[sp-id="235822"] .sp-button-messengers {
  border-radius: 4px;
}
.sp-form[sp-id="235822"] .sp-button {
  border-radius: 4px;
  background-color: #525250;
  color: #ffffff;
  // width: 308px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  box-shadow: none;
}
.sp-form[sp-id="235822"] .sp-button-container {
  text-align: left;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .form {
    .sp-form[sp-id="235822"] {
      .form__container {
        gap: 16px;
        &-leftSide {
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          gap: 16px;
          .sp-field {
            input {
              height: 52px;
              border-radius: 8px;
            }
          }
        }
        > .sp-field {
          textarea {
            height: 100%;
            margin-top: 0;
            padding: 8px;
            resize: none;
            // height: 100%;
            border-radius: 8px;
            // &::placeholder {
            // position: absolute;
            // top: 16px;
            // text-wrap: balance;
            // color: red;
            // }
          }
        }
      }
    }
    .sp-element-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .sp-form {
      padding: 0;
      .sp-field {
        width: 330px;

        &:nth-of-type-type(4) {
          width: 300px;
          height: 100%;
        }
      }
    }

    .sp-button-container {
      button.sp-button {
        font-weight: 400;
        width: 330px;
        height: 52px;
      }
    }
    &__container {
      display: flex;
    }
  }
}
