---
import "./style2.scss";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import "swiper/css";
---

<section class="services container" id="services">
  <h2 class="services__title">{t("Service.title")}</h2>

  <ul class="services__service-list">
    <li class="services__service-item">
      <svg class="services__service-icon" width="22" height="22">
        <use href="/sprite.svg#icon-business-handshake"></use>
      </svg>

      <strong class="services__service-title">{t("title.head1")}</strong>
      <p class="services__service-text">{t("title.sub1")}</p>
    </li>
    <li class="services__service-item">
      <svg class="services__service-icon" width="22" height="22">
        <use href="/sprite.svg#icon-task-list"></use>
      </svg>
      <strong class="services__service-title">{t("title.head2")}</strong>
      <p class="services__service-text">{t("title.sub2")}</p>
    </li>

    <li class="services__service-item">
      <svg class="services__service-icon" width="22" height="22">
        <use href="/sprite.svg#icon-target"></use>
      </svg>
      <strong class="services__service-title">{t("title.head3")}</strong>
      <p class="services__service-text">{t("title.sub3")}</p>
    </li>
    <li class="services__service-item">
      <svg class="services__service-icon" width="22" height="22">
        <use href="/sprite.svg#icon-customer-support"></use>
      </svg>
      <strong class="services__service-title">{t("title.head4")}</strong>
      <p class="services__service-text">{t("title.sub4")}</p>
    </li>
  </ul>
</section>

<script src="./splider.js"></script>
<!-- ---
import { Image } from "astro:assets";
import "./style.scss";

import card_1 from "./first.jpg";
import card_2 from "./second.jpg";
import card_3 from "./third.jpg";
import card_4 from "./fourth.jpg";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="import container" id="services">
  <h2 class="import__title">{t("Service.title")}</h2>
  <div class="import__wrapper">
    <ul class="import__list">
      <li class="import__item screen-1">
        <p class="title">{t("title.head1")}</p>
        <p class="text">{t("title.sub1")}</p>
        <Image
          class="mob-img"
          src={card_1}
          alt="KeepWatch's dashboart main functionality"
        />
      </li>
      <li class="import__item screen-2">
        <p class="title">{t("title.head2")}</p>
        <p class="text">{t("title.sub2")}</p>
        <Image
          class="mob-img"
          src={card_2}
          alt="KeepWatch's dashboart main functionality"
        />
      </li>
      <li class="import__item screen-3">
        <p class="title">{t("title.head3")}</p>
        <p class="text">{t("title.sub3")}</p>
        <Image
          class="mob-img"
          src={card_3}
          alt="KeepWatch's dashboart main functionality"
        />
      </li>
      <li class="import__item screen-4">
        <p class="title">{t("title.head4")}</p>
        <p class="text">{t("title.sub4")}</p>
        <Image
          class="mob-img"
          src={card_4}
          alt="KeepWatch's dashboart main functionality"
        />
      </li>
    </ul>
    <div hidden class="image__wrapper">
      <Image
        class="img"
        src={card_1}
        alt="KeepWatch's dashboart main functionality"
      />
      <Image
        class="img"
        src={card_2}
        alt="KeepWatch's dashboart main functionality"
      />

      <Image
        class="img"
        src={card_3}
        alt="KeepWatch's the second dashboart main functionality"
      />
      <Image
        class="img"
        src={card_4}
        alt="KeepWatch's the second dashboart main functionality"
      />
    </div>
  </div>
</section>
<script src="./services.js"></script> -->
