@use "@styles/global" as *;

.services {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  overflow-x: hidden !important;

  &__service-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 836px;
    flex-wrap: wrap;
  }

  &__title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgba(77, 78, 77, 1);
  }

  &__service-list .services__service-item:nth-child(2),
  &__service-list .services__service-item:nth-child(3) {
    background-color: #faf9f8;

    .services__service-text {
      color: #232323;
    }

    .services__service-title {
      color: #232323;
    }

    .services__service-icon {
      background-color: #e00502;
      border-radius: 12px;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      stroke: #faf9f8;
    }

    .services__service-icon p {
      color: #faf9f8;
      font-weight: bold;
    }
  }

  &__service-text {
    font-family: "Inter Variable", sans-serif;
    color: rgb(255, 255, 255);

    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
  }

  &__service-title {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }

  &__service-item {
    padding: 16px;
    max-width: 368px;
    width: 100%;
    height: 292px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #e00502;
    border-radius: 12px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__service-icon {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    stroke-width: 2px;
    stroke: #232323;
    fill: none;
    padding: 10px;
  }

  &__service-icon p {
    color: #232323;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .services {
    gap: 70px;
    &__service-list {
      gap: 40px;
      flex-direction: column;
      width: 270px;
    }

    &__service-list .services__service-item:nth-child(2),
    &__service-list .services__service-item:nth-child(4) {
      background-color: #faf9f8;

      .services__service-text {
        color: #232323;
      }

      .services__service-title {
        color: #232323;
      }

      .services__service-icon {
        background-color: #e00502;
        border-radius: 12px;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        stroke: #faf9f8;
      }

      .services__service-icon p {
        color: #faf9f8;
        font-weight: bold;
      }
    }

    &__service-list .services__service-item:nth-child(3) {
      background-color: #e00502;

      .services__service-text {
        color: #faf9f8;
      }

      .services__service-title {
        color: #faf9f8;
      }

      .services__service-icon {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: inline-block;
        stroke-width: 2px;
        stroke: #232323;
        fill: none;
        padding: 10px;
      }

      .services__service-icon p {
        color: #232323;
        font-weight: bold;
      }
    }

    &__service-item {
      padding: 16px;
      max-width: 268px;
      width: 100%;
      height: 292px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #e00502;
      border-radius: 12px;
    }

    &__service-text {
      font-family: "Inter Variable", sans-serif;
      color: rgb(255, 255, 255);

      font-weight: 400;
      font-size: 12px;
      line-height: 180%;
    }

    &__service-title {
      font-weight: 600;
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
  }
}
