@use "@styles/global" as *;

.mob-img {
  display: block;
  max-width: 700px;
  height: 330px !important;
  object-fit: cover;
  margin-top: 30px;
  width: 100%;
}

.import__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.text {
  padding-right: 16px;
  line-height: 140%;
  text-align: center;
}

.title {
  text-align: center;
}

.import {
  padding-top: 120px;
  padding-bottom: 120px;

  padding-left: 16px;
  width: 100%;

  &__title {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__wrapper {
    width: 100%;
    margin-top: 50px;

    ul {
      width: 100%;
      // height: 100vh;
      position: relative;
      min-height: 642px;

      display: flex;
      flex-direction: column;
      gap: 100px;

      li {
        height: 100%;
        opacity: 0;

        position: absolute;
        top: 20px;
        width: 100%;
        padding-top: 86px;
        padding-bottom: 72px;
        // min-height: 642px;
        background-size: 100% 500px;
        background-repeat: no-repeat;
        background-position: bottom 100px center;

        .title {
          color: rgba(38, 39, 38, 1);
          padding-right: 16px;
          font-weight: 600;
          font-size: clamp-text(24, 32);
          margin-bottom: clamp-text(16, 24);
        }

        &.isActive {
          opacity: 1;
        }
      }
    }
  }
  .image {
    &__wrapper {
      img {
        position: static;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .text {
      padding-right: 16px;
      line-height: 140%;
      text-align: left;
    }

    .title {
      text-align: left;
    }

    .mob-img {
      display: none;
    }

    &__wrapper {
      display: flex;
    }
    max-width: 1248px;
    margin: 0 auto;

    gap: 50px;

    // ul li:last-child {
    //   margin-bottom: 400px;
    // }
    ul {
      // margin-top: 15%;
      // margin-top: 400px;
      margin-bottom: 400px;

      max-width: 540px;
      display: flex;
      flex-direction: column;
      gap: 200px;

      li {
        // margin-bottom: 100px;
        // height: 300px;
        position: static;
        min-height: auto;
        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // background-size: none;
        // background-repeat: no-repeat;
        // background-position: none;
        // &.screen {
        //   &-1 {
        //     background-image: none;
        //     opacity: 0.5;
        //   }
        //   &-2 {
        //     background-image: none;
        //   }
        //   &-3 {
        //     background-image: none;
        //   }
        //   &-4 {
        //     background-image: none;
        //     margin-bottom: 150px;
        //   }
        // }
        span {
          padding: 4px 12px;
          border-radius: 12px;
          margin-bottom: 8px;
        }

        opacity: 0.5;
        &.isActive {
          opacity: 1;
        }
      }
    }
    .image {
      &__wrapper {
        display: block;
        position: sticky;
        top: 15%;
        right: 0px;
        width: 797px;
        height: 600px;

        background-repeat: no-repeat;
        background-size: 1079px;
        overflow: hidden;

        .img {
          opacity: 0;
          max-width: 882px;
          position: absolute;
          top: 41px;
          left: 133px;
          width: 450px;
          height: 450px;
          object-fit: cover;
        }
      }
    }
  }
}
