---
import BtnCloseModal from "@components/common/BtnCloseModal.astro";
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class="map__propositions ishidden">
  <BtnCloseModal data="map" />
  <h2 class="map-propositions__title"></h2>
  <ul class="map-propositions__list">
    <li>no items were found</li>
  </ul>
</div>
