---
import Image from "astro/components/Image.astro";
// import map from './map@2x.webp';
import map from "./map2.png";

import svgBottom from "./rec_bottom.svg";
import svgTop from "./rec_top.svg";
import "./style.scss";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="hero container">
  <div class="description">
    <h1 class="title" set:html={t("hero.slogan")} />
    <div class="wrapper">
      <button class="hero__btn" data-btnHeroModal>{t("hero.btn")} </button>
      <p class="hero__btn-text" set:html={t("hero.btn-text")} />
    </div>
  </div>
  <div class="map__wrapper">
    <img hidden class="rect__top" src={svgTop.src} alt="rect" />
    <img hidden class="rect__bottom" src={svgBottom.src} alt="rect" />

    <Image
      src={map}
      width={602}
      height={400}
      class="map__img"
      alt="The map of Ukraine"
    />
  </div>
</section>
