@use "@styles/global" as *;
.hero {
  display: flex;
  align-items: center;
  padding-top: clamp-text(120, 148);
  &.container {
    flex-direction: column-reverse;
  }
  img {
    object-fit: cover;
  }
  .title {
    text-align: center;
    font-size: 36px;
    // text-align: center;
    font-weight: 500;
    // flex-grow: 0;
    // flex-shrink: 1;
    margin-bottom: 48px;
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    width: 100%;
    max-width: 600px;
    font-family: "Inter Variable", sans-serif;
    color: white;
    border-radius: 12px;
    background: #362b2b;
    padding: 18px 45px;
    font-weight: 200;
    margin: 0 auto;
    margin-bottom: 30px;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e00502;
        cursor: pointer;
      }
    }
    &-text {
      text-align: center;
      color: #362b2b;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    &.container {
      flex-direction: row;
      justify-content: space-between;
    }
    .title {
      text-align: left;
      margin-bottom: 57px;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 19px;
      .hero__btn-text {
        max-width: 262px;
      }
    }
    .description {
      max-width: 500px;
      align-items: start;
    }
    .map {
      &__img {
        width: 100%;
        height: auto;
      }
      &__wrapper {
        position: relative;
        // padding-right: 72px;
        // padding-block: 96px;
        .rect__top {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
        .rect__bottom {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    &__btn {
      margin: 0;
      width: 293px;
      &-text {
        text-align: left;
      }
    }
  }
}

.hero__modal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  // border: 1px solid white;
  top: 80px;
  left: 50%;
  width: calc(50% + 150px);
  height: auto;
  // background-color: rgba(44 64 67  /0.7);
  border-radius: 12px;
  transform: translateX(-50%);
  &-title {
    color: inherit;
    margin-bottom: 17px;
  }
  &-separator {
    width: 100px;
    height: 3px;
    background-color: red;
    margin-bottom: 48px;
  }
  &-text {
    text-align: center;
    color: white;
    margin-bottom: 44px;
  }
  .icon-close[data-modal="hero"] {
    top: -55px;
    right: 0px;
  }

  @media screen and (min-width: 1024px) {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    // border: 1px solid white;
    top: 50%;
    left: 50%;
    width: calc(50% + 150px);
    height: auto;
    // background-color: rgba(44 64 67  /0.7);
    border-radius: 12px;
    transform: translate(-50%, -50%);
    &-title {
      color: inherit;
      margin-bottom: 17px;
    }

    .map__img {
      max-width: 702px !important;
    }

    &-separator {
      width: 100px;
      height: 3px;
      background-color: red;
      margin-bottom: 48px;
    }
    &-text {
      color: white;
      margin-bottom: 88px;
    }
    .icon-close[data-modal="hero"] {
      top: -24px;
      right: -24px;
    }
  }
}
