---
import Benefits from '@components/Benefits/Benefits.astro';
import Contacts from '@components/Contacts/Contacts.astro';
import Hero from '@components/Hero/Hero.astro';
import Services from '@components/Services/Services.astro';
import Team from '@components/Team/Team.astro';
import HeroContacts from '@components/modals/HeroContacts.astro';
import MapProposition from '@components/modals/MapProposition.astro';
import Propositions from '@components/Propositions.astro';
import Layout from 'src/layout/Layout.astro';
export function getStaticPaths() {
    return [
        { params: { locale: undefined } },
        { params: { locale: 'en' } },
        { params: { locale: 'tr' } },
    ];
}

---

<Layout>
    <Hero />
    <Services />
    <Benefits />
    <Propositions />
    <Team />
    <Contacts />
    <div class='backdrop ishidden'>
        <MapProposition />
        <HeroContacts />
    </div>
</Layout>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        import('@js/modal.js');
    });

    const links = document.querySelectorAll('nav a[href]');

    const sections = document.querySelectorAll('section[id]');

    document.addEventListener('scroll', () => {
        sections.forEach((item, idx) => {
            const sectionTop = item.getBoundingClientRect().top;
            const sectionBottom = item.getBoundingClientRect().bottom;

            if (sectionTop <= 1 && sectionBottom > 1) {
                (links[idx] as HTMLAnchorElement).style.color = '#CD5851';
            } else {
                (links[idx] as HTMLAnchorElement).style.color = '#362B2B';
            }
        });
    });
</script>
