/* footeren.scss */

.footer {
  background-color: #e30000;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 25px;
}

.footer .agro {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .social {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer .social p {
  margin: 0;
  color: white;
  font-weight: bold;
}

.footer .social .footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.footer .right {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.right p {
  color: white !important;
}

/* Media Queries */
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .agro,
  .footer .social,
  .footer .right {
    text-align: left;
    margin: 5px 0;
  }
  .footer .social .footer-icons {
    justify-content: flex-start;
  }
}
