.partners{
  margin-inline: auto;
}
  .partners h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgba(77, 78, 77, 1);
  }

  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch !important;
    text-align: center;
    align-items: center;
  }

  .track {
    scroll-snap-type: x mandatory;
    display: flex !important;
    transition: transform 0.5s ease-in-out;
    gap: 50px !important;
  }
  .slide {
    flex: 0 0 100%;
    scroll-snap-align: start !important;
    box-sizing: border-box;
    margin: 50px 0;
  }

  .slide image {
    width: 100%;
    display: block;
    margin: 70px;
  }

  @media (min-width: 1024px) {
    .track {
      justify-content: center;
    }

    .slide {
      flex: 0 0 25%;
      flex: content !important;
    }

    .carousel {
      overflow-x: hidden;
    }
  }



