.propositions {
  padding-block: clamp(65px, 13.375vw, 149px);
  // path {
  //     fill: #efece5;
  // }
  &__title {
    text-align: center;
    margin-bottom: 66px;
    font-weight: 500;
    text-transform: uppercase;
  }
  // svg {
  //     margin: 0 auto;
  //     width: 100%;
  //     height: auto;
  //     display: inline-block;
  //     padding-block: 32px;
  //     g > g[id] {
  //         position: relative;
  //     }
  //     @media (any-hover: hover) {
  //         g > g[id]:hover > path {
  //             fill: #f2dbb1;
  //         }
  //     }

  //     .selected {
  //         mask,
  //         path {
  //             fill: #f2dbb1;
  //         }
  //     }
  // }
  .map {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    &__selector {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: auto;

      &-type {
        border-radius: 5px;
        border: 1px solid #d9d6cf;
        padding: 34px 30px;
        display: flex;
        gap: 27px;
        flex-direction: column;
        &-label {
          position: relative;
          span {
            margin-left: 20px;
            font-size: 16px;
          }
          input {
            position: relative;

            &:checked {
              &::after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 13px;
                height: 13px;
                border-radius: 50px;
                border: 6px solid #eee3e3;

                background-color: #e00502;
              }
            }

            &::after {
              content: "";
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 13px;
              height: 13px;
              border-radius: 50px;
              border: 6px solid #c0c0c0;
              // background-image: radial-gradient(red 50%, red 50%);
              background-color: #000000;
            }
          }
        }
      }
      &-region {
        appearance: none;
        padding: 20px 30px;
        border: 1px solid #d9d6cf;
        border-radius: 5px;
        // appearance: none;
        font-size: 16px;
      }
      &-range {
        display: flex;
        flex-direction: column;
        span {
          margin-top: 12px;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding-top: 130px;
    .map {
      &__wrapper {
        // display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
      }
      &__selector {
        width: 291px;
        flex-shrink: 0;

        width: fit-content;
        max-width: 291px;
      }
    }
  }
}

input,
option,
select {
  color: black;
}

.marker {
  &::after {
    content: "123";
    inset: 0;

    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
  }
}
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(1, 1, 1, 0.5);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  pointer-events: all;
  backdrop-filter: blur(5px);
}

.ishidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.map__propositions {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 12px;
  border: 1px solid gray;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  z-index: 1000;
  padding: 24px;
  @media screen and (min-width: 1024px) {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    border: 1px solid gray;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    z-index: 1000;
    padding: 24px;
  }
}
.map-propositions {
  &__title {
    text-align: center;
    margin-bottom: 32px;
  }
  &__list {
    height: 70%;
    overflow-y: scroll;
    // overflow: overlay;
    scrollbar-width: 0px;
    scrollbar-color: transparent;

    li {
      background-color: #f6f5f5;
      padding: 16px;
      // border: 1px solid black;
      border-radius: 12px;
      margin-bottom: 12px;
    }
  }
}
.modal__close-icon {
  position: absolute;
  padding: 6px 10px;
  cursor: pointer;
  // display: block;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  background-color: #efece5;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  top: 24px;
  right: 24px;
  border: 1px solid gray;
  &:hover {
    color: red;
  }
}

.marked__region {
  path {
    fill: #d8d4cd;
    cursor: pointer;
  }
}
.not__marker__region {
  path {
    fill: #efece5;
  }
}
