.team {
    text-align: center;
    margin: 120px;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgba(77, 78, 77, 1);
}

.team-details {
    display: flex;
    justify-content: center;
    gap: 12rem; 
    flex-wrap: wrap; /* Allow wrapping */
}

.team-member {
    text-align: center;
    max-width: 200px;
    margin-bottom: 2rem; /* Add some space at the bottom for vertical layout */
}

.team-member img {
    width: 100%;
    border-radius: 10px;
}

.name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.description {
    font-size: 1rem;
    color: grey;
}

@media (max-width: 375px) {
    .team-details {
        flex-direction: column; /* Display vertically */
        align-items: center; /* Center align */
        gap: 0; /* Adjust gap for vertical spacing */
    }

    .team-member {
        max-width: 200%; /* Adjust width for smaller screens */
    }
}
