---
import Partners from "@components/Partners/Partners.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { Image } from "astro:assets";
import card_1 from "./baralo.jpg"; //барало
import card_2 from "./kolisnyk.jpg"; // колісник
import card_3 from "./r.jpg"; // олексієнко
import card_4 from "./card4.jpg"; // пилипчук

import "./team.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="team splide">
  <h2 class="team__title">{t("team.title")}</h2>
  <div class="splide__track">
    <ul class="team__list splide__list">
      <li class="team__item splide__slide">
        <Image src={card_1} alt="Team member" />
        <p class="name">{t("team.name1")}</p>
        <p class="description">{t("description1")}</p>
      </li>
      <li class="team__item splide__slide">
        <Image src={card_2} alt="Team member" />
        <p class="name">{t("team.name2")}</p>
        <p class="description">{t("description2")}</p>
      </li>
      <li class="team__item splide__slide">
        <Image src={card_4} alt="Team member" />
        <p class="name">{t("team.name4")}</p>
        <p class="description">{t("description4")}</p>
      </li>
      <li class="team__item splide__slide">
        <Image src={card_3} alt="Team member" />
        <p class="name">{t("team.name3")}</p>
        <p class="description">{t("description3")}</p>
      </li>
    </ul>
    <div class="splide__arrows splide__arrows--ltr">
      <button
        class="splide__arrow splide__arrow--prev"
        type="button"
        aria-label="Previous slide"
        aria-controls="splide01-track"
      >
        <svg width="36" height="36" class="icon icon-left">
          <use href="/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button
        class="splide__arrow splide__arrow--next"
        type="button"
        aria-label="Next slide"
        aria-controls="splide01-track"
      >
        <svg width="36" height="36" class="icon">
          <use href="/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- <section class="team-desktop">
  <h2 class="team-desktop__title-desc">{t("team.title")}</h2>
  <div class="__box-desc">
    <ul class="team-desktop__list-desc">
      <li class="team-desktop__item-desc">
        <Image class="__img-desc" src={card_1} alt="Team member" />
        <p class="name-desc">{t("team.name1")}</p>
        <p class="description-desc">{t("description1")}</p>
      </li>
      <li class="team-desktop__item-desc">
        <Image class="__img-desc" src={card_2} alt="Team member" />
        <p class="name-desc">{t("team.name2")}</p>
        <p class="description_desc">{t("description2")}</p>
      </li>
      <li class="team-desktop__item-desc">
        <Image class="__img-desc" src={card_3} alt="Team member" />
        <p class="name-desc">{t("team.name3")}</p>
        <p class="description_desc">{t("description3")}</p>
      </li>
      <li class="team-desktop__item-desc">
        <Image class="__img-desc" src={card_4} alt="Team member" />
        <p class="name-desc">{t("team.name4")}</p>
        <p class="description-desc">{t("description4")}</p>
      </li>
    </ul>
  </div>
</section> -->

<Partners />
<script src="./team.js"></script>
