@import "@splidejs/splide/css/core";

.team-desktop {
  display: none;
}

.team {
  padding-top: 104px;
  padding-bottom: 104px;

  max-width: 1248px;
  text-align: center;
  margin: 120px;
  margin: 0 auto;

  &__title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgba(77, 78, 77, 1);

    margin-bottom: 100px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    // gap: 8px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      margin-block: 20px;
      font-weight: 600;
    }
    .description {
      font-size: 16px;
    }
  }
  .splide__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding: 0 50px;
    &__arrow {
      width: 55px;
      height: 55px;
      color: #e00502 !important;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }

    .icon {
      width: 55px;
      height: 55px;
    }

    .icon-left {
      transform: rotate(180deg);
    }
  }

  img {
    width: 270px;
    height: 270px;
    border-radius: 12px;
    object-fit: cover;
  }
}

// @media screen and (min-width: 768px) {
//   .team {
//     padding-top: 104px;
//     padding-bottom: 104px;

//     max-width: 1248px;
//     text-align: center;
//     margin: 120px;
//     margin: 0 auto;

//     img {
//       width: 330px;
//       height: 330px;
//     }
//     &__list {
//       display: flex;
//       justify-content: center;
//       // gap: 20px;
//       // margin-left: 250px !important;
//     }
//     &__item {
//       // max-width: 350px;

//       margin-right: 0 !important;
//       .name {
//         margin-block: 20px;
//         font-weight: 600;
//       }
//       .description {
//         font-size: 16px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   .team-desktop {
//     display: block;

//     padding-top: 104px;
//     padding-bottom: 104px;

//     max-width: 1248px;
//     text-align: center;
//     margin: 120px;
//     margin: 0 auto;

//     &__title-desc {
//       font-weight: 400;
//       color: #362b2b;
//       margin-bottom: 32px;
//       text-transform: uppercase;
//       margin-bottom: 30px;
//     }

//     &__list-desc {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 20px;
//       flex-wrap: wrap;
//     }
//     &__item-desc {
//       .name-desc {
//         margin-block: 20px;
//         font-weight: 600;
//       }
//       .description-desc {
//         font-size: 16px;
//       }
//     }
//     img {
//       width: 400px;
//       height: 400px;
//       border-radius: 12px;
//       object-fit: cover;
//     }
//   }

//   .team {
//     display: none;
//   }
// }
