<!-- <div class="map__selector">
  <select name="" id="" class="map__selector-region">
    <option value="">Оберіть область</option>
  </select>

  <fieldset class="map__selector-type">
    <label class="map__selector-type-label">
      <input type="checkbox" value="" name="rs" id="type" />
      <span>Рослинництво</span>
    </label>
    <label class="map__selector-type-label">
      <input type="checkbox" name="el" id="type" />
      <span>Елеватори</span>
    </label>
    <label class="map__selector-type-label">
      <input type="checkbox" name="cd" id="type" />
      <span>Садівництво</span>
    </label>
    <label class="map__selector-type-label">
      <input type="checkbox" name="tv" id="type" />
      <span>Тваринництво</span>
    </label>
    <label class="map__selector-type-label">
      <input type="checkbox" name="tg" id="type" />
      <span>Тепличні господарства</span>
    </label>
    <label class="map__selector-type-label">
      <input type="checkbox" name="all" id="type" checked />
      <span>Всі категорії</span>
    </label>
    <label class="map__selector-range">
      <input
        type="range"
        min="5000"
        max="20000"
        name="111"
        step="2500"
        id="rangeInput"
      />
      <div class="tooltip" id="tooltip">5000</div>
    </label>
  </fieldset>
</div> -->
