---
import '@styles/propositions.scss';
import { Main } from './Propositions/Main';

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section id='propositions' class='propositions container'>
    <h2 class='propositions__title'>{t('propositions')}</h2>
    <div class='map__wrapper'>
        <Main client:only='preact' />
    </div>
</section>
