---
import { Image } from "astro:assets";
import card_1 from "./card1@2x.png";
import card_2 from "./card2@2x.png";
import card_3 from "./card3@2x.png";
import card_4 from "./brsmnafta.svg";
import card_5 from "./kingsmak.png";
import card_6 from "./zml.png";
import card_7 from "./ukrmolocnakomp.jpeg";

import "./partners.scss";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

console.log(123);
---

<section class="partners">
  <h2 class="partners__title">{t("partners.title")}</h2>
  <div class="partners__wrapper splide">
    <div class="splide__track">
      <ul class="partners__list splide__list">
        <li class="partners__item splide__slide">
          <a href="https://bigblue.com.ua" target="_blank">
            <Image
              src={card_1}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://www.frendt.ua" target="_blank">
            <Image
              src={card_2}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://dobrozem.com.ua" target="_blank">
            <Image
              src={card_3}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://brsm-nafta.com" target="_blank">
            <Image
              src={card_4}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://kingsmak.com.ua" target="_blank">
            <Image
              src={card_5}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://zml.com.ua" target="_blank">
            <Image
              src={card_6}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
        <li class="partners__item splide__slide">
          <a href="https://www.ua-milk.com" target="_blank">
            <Image
              src={card_7}
              height={75}
              alt="Logo of the company main parner"
            /></a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
