@import "@splidejs/splide/css/core";
.partners {
  width: 100%;
  padding-bottom: 60px;
  //   max-width: 1248px;

  &__title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgba(77, 78, 77, 1);
    margin-bottom: 100px;
  }
  &__list {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__item {
    opacity: 90%;
    width: 322px;
    // width: 100%;
    img {
      margin: 0 auto;
    }
  }

  &__item:hover {
    opacity: 100%;
  }

  &__wrapper {
    // max-width: 1248px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1024px) {
    // padding-inline: 16px;
    padding-bottom: 143px;
    // &__list {
    //   // justify-content: space-around;
    // }
    &__item {
      width: fit-content;
    }
  }
}

.splide__pagination__page {
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 50px;
  margin-top: 32px;
  margin-right: 8px;
  opacity: 0.7;
  &.is-active {
    background-color: #cd5851;
  }
}
