---
import './style.scss';

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section class='footer'>
    <div class='container'>
        <svg width='149' height='48' class='footer__logo'>
            <use href='/sprite.svg#aagrowhite'></use>
        </svg>
        <div class='footer__social'>
            <p class='footer__social-text'>{t('footer.text')}</p>
            <ul class='footer__list'>
                <li class='footer__item'>
                    <a
                        href='https://www.instagram.com/your-instagram-link'
                        target='_blank'
                        aria-label='Instagram'
                    >
                        <svg width='36' height='36' class='footer__social-link'>
                            <use href='/sprite.svg#icon-insta-new'></use>
                        </svg>
                    </a>
                </li>
                <li class='footer__item'>
                    <a
                        href='https://www.facebook.com/your-facebook-link'
                        target='_blank'
                        aria-label='Facebook'
                    >
                        <svg width='36' height='36' class='footer__social-link'>
                            <use href='/sprite.svg#icon-fb-new'></use>
                        </svg>
                    </a>
                </li>
                <li class='footer__item'>
                    <a
                        href='https://t.me/your-telegram-link'
                        target='_blank'
                        aria-label='Telegram'
                    >
                        <svg width='36' height='36' class='footer__social-link'>
                            <use href='/sprite.svg#icon-telegram-new'></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <span class='footer__copyright'>{t('footer.copyright')}</span>
    </div>
</section>
