/* footeren.scss */

.footer {
  padding-top: 52px;
  padding-bottom: 82px;
  background-color: #e00502;
  color: white;
  &__logo {
    width: 106px;
    // height: 36px;
  }
  &__social-link {
    width: 36px;
    height: 36px;
  }

  &__social {
    justify-self: left;
    max-width: 132px;
    margin-bottom: 30px;
    &-text {
      font-size: 14px;
      font-weight: 600;
      color: white;
    }
  }
  &__list {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    use {
      fill: white;
    }
    &:hover {
      use {
        fill: #cacaca;
      }
    }
  }
  &__copyright {
    font-size: 15px;
    font-weight: 400;
    align-self: self-end;
  }
  .container {
    padding-inline: 39px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 90px 1fr;
  }
  @media screen and (min-width: 768px) {
    padding-top: 28px;

    padding-bottom: 19px;
    &__social {
      justify-self: right;
      margin-bottom: 0;
    }
    &__logo {
      width: auto;
      height: auto;
    }
    .container {
      padding-inline: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-items: left;
    }
  }
}
