---
import { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<select class='language__selecter' onchange='window.location.href=this.value'>
    {
        Object.entries(languages).map(([langCode, label]) => (
            <option
                value={translatePath('/', langCode)}
                selected={langCode === lang}
            >
                {label}
            </option>
        ))
    }
</select>
