---
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav hidden class='header__nav'>
    <ul class='navigation__menu'>
        <li class='navigation__item'>
            <a href={translatePath('#services')}>{t('nav.services')}</a>
        </li>
        <li class='navigation__item'>
            <a href={translatePath('#benefits')}>{t('nav.benefits')}</a>
        </li>
        <li class='navigation__item'>
            <a href={translatePath('#propositions')}>{t('nav.propositions')}</a>
        </li>
    </ul>
</nav>
