---
import FormContacts from "../FormContacts/FormContacts.astro";
import "./style.scss";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__info container">
      <h2 class="title">{t("contact.title")}</h2>
      <ul class="info__list">
        <li class="info__item">
          <svg width="29" height="29"
            ><use href="/sprite.svg#icon-point"></use></svg
          >
          <span>{t("contact.address")}</span>
        </li>
        <li class="info__item">
          <svg width="29" height="29"
            ><use href="/sprite.svg#icon-mail"></use></svg
          >
          <span
            ><a href="mailto:info@aagro.com.ua"> info@aagro.com.ua </a>
          </span>
        </li>
        <li class="info__item">
          <svg width="29" height="29"
            ><use href="/sprite.svg#icon-phone"></use></svg
          ><span><a href="tel:+380677937790">+380677937790</a></span>
        </li>
        <li class="info__item">
          <svg width="29" height="29"
            ><use href="/sprite.svg#icon-whatsapp"></use></svg
          ><span><a href="https://wa.me/+380677937790">+380677937790</a></span>
        </li>
      </ul>
    </div>
    <div class="contacts__form container">
      <h2 class="title">{t("hero.title")}</h2>
      <FormContacts />
    </div>
  </div>
</section>
