@use "@styles/global" as *;
.contacts {
  padding-top: clamp-text(65, 149);
  background-color: #faf9f8;

  .title {
    width: 100%;
    text-align: center;
    color: black;
    font-size: clamp-text(24, 32);
    font-weight: 500;
    margin-bottom: 57px;
  }
  &__form {
    width: 100%;
  }
  &__info {
    padding-top: 65px;
    padding-bottom: 74px;
    width: 100%;
    background-color: white;
  }
  &__wrapper {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    .info {
      &__list {
        padding-left: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 27px;
        margin-top: 32px;
        width: 260px;
      }
      &__item {
        font-size: 16px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        svg {
          flex-shrink: 0;
          margin-right: 16px;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 149px;
    padding-inline: 16px;
    &__form {
      margin: 0;
      padding: 0;
      max-width: min-content;
    }
    .title {
      text-align: left;
    }
    &__wrapper {
      margin: 0 auto;
      max-width: 1248px;
      width: 100%;
      // flex-direction: column-reverse;
      flex-direction: row;
      display: flex;
      gap: 32px;
      justify-content: space-between;
      flex-wrap: wrap;
      .info {
        width: fit-content;
        &__list {
          padding-left: 0px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 27px;
          margin-top: 32px;
          width: 260px;
        }
        &__item {
          font-size: 16px;
          display: flex;
          align-items: center;
          vertical-align: middle;
          svg {
            flex-shrink: 0;
            margin-right: 16px;
          }
        }
      }
    }
    &__info {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: fit-content;
      background-color: transparent;
    }
  }
}
