---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import "./style.scss";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="benefits" id="benefits">
  <h2 class="benefits__title">{t("benefits.title")}</h2>
  <p class="benefits__text">{t("benefits.text")}</p>
  <div class="container">
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title1")}</p>
          <p class="card__text">{t("card.text1")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-first"></use>
          </svg>
        </div>
      </li>
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title2")}</p>
          <p class="card__text">{t("card.text2")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-second"></use>
          </svg>
        </div>
      </li>
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title3")}</p>
          <p class="card__text">{t("card.text3")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-six"></use>
          </svg>
        </div>
      </li>
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title4")}</p>
          <p class="card__text">{t("card.text4")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-cash"></use>
          </svg>
        </div>
      </li>
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title5")}</p>
          <p class="card__text">{t("card.text5")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-fifth"></use>
          </svg>
        </div>
      </li>
      <li class="benefits__item">
        <div class="text">
          <p class="card__title">{t("card.title6")}</p>
          <p class="card__text">{t("card.text6")}</p>
        </div>
        <div class="card__box">
          <svg width="36" height="36" class="card__icon">
            <use href="/sprite.svg#icon-third"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
<script src="./benefits.js"></script>
