.benefits {
  // padding-block: clamp(65px, 13.375vw, 149px);
  padding-block: clamp(65px, 13.375vw, 120px);
  overflow-x: hidden !important;

  background-color: #faf9f8;

  .text {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 150px;
    margin-top: 8px;
  }

  &__item {
    box-sizing: content-box;
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
    height: 80px;
    // background-color: white;
    // border-radius: 12px;
    // padding: 20px;
  }

  &__title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  &__text {
    text-align: center;
    margin-bottom: clamp(35px, 13vw, 65px);
    color: #787777;
  }
  &__list {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 1fr 1fr 1fr;
    // justify-items: center;
    // align-items: center;
    // gap: 100px;

    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    &__title {
      font-weight: 600;
      margin-bottom: 8px;
      color: #000000d1;
      font-size: 18px;
      text-transform: uppercase;
    }

    &__text {
      text-align: left;
    }

    &__box {
      background-color: #e00502;
      padding: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
    &__icon {
      display: inline-block;
      stroke-width: 2px;
      stroke: rgb(255, 255, 255);
      fill: none;
    }
    &__box:hover {
      scale: 1.1;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 650px) {
    .benefits {
      padding-block: clamp(65px, 13.375vw, 149px);
      background-color: #faf9f8;

      .text {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      &__item {
        width: 100%;
        max-width: 270px;
      }

      &__list {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 60px;
        max-width: 600px;
        width: 100%;
      }
    }

    .text {
      width: 180px;
    }

    .card {
      &__title {
        font-size: 14px;
      }

      &__text {
        text-align: left;
        font-size: 12px;
      }

      &__box {
        background-color: #e00502;
        padding: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__icon {
        width: 26px;
        height: 26px;
      }
      &__box:hover {
        scale: 1.1;
      }
    }

    // &__list li:nth-child(2n) {
    //   align-self: flex-end;
    // }

    // &__list li:nth-child(odd) {
    //   align-self: flex-start;
    // }
  }
}
