---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ukrainian trade company" />
    <meta name="twitter:site" content="@aagro.com.ua" />
    <meta
      name="twitter:description"
      content="It's easy to sell or
buy an agribusiness - We make the process
convenient and safe"
    />
    <meta name="twitter:image" content="https://aagro.com.ua/thumbnail.png" />
    <meta name="twitter:image:alt" content="Logo" />
    <title>Aagro</title>
    <link
      rel="preload"
      href="/fonts/inter-latin-wght-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/inter-cyrillic-wght-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <style is:inline>
      @font-face {
        font-family: "Inter Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url(/fonts/inter-cyrillic-wght-normal.woff2)
          format("woff2-variations");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      @font-face {
        font-family: "Inter Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: local(fonts/inter-latin-wght-normal.woff2)
          format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      body {
        font-family: "Inter Variable", sans-serif;
        /* color: rgba(77, 78, 77, 1); */
        overflow-x: hidden !important;
      }
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        font-family: "Inter Variable", sans-serif;
        margin: 0;

        color: rgba(77, 78, 77, 1);
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      a {
        color: currentColor;
        text-decoration: none;
        cursor: pointer;
      }

      img {
        display: block;

        max-width: 100%;
        height: auto;
      }

      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      input,
      textarea {
        background-color: transparent;
        outline: transparent;
        border: none;
      }
      html {
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
      }

      body {
        /* background-color: #f2f2ed; */
        margin: 0;
      }
      mark {
        color: inherit;
        padding-inline: 2px;
        background-color: #f0ff97;
        border-radius: 20px;
        white-space: nowrap;
      }
      @media screen and (min-width: 1024px) {
        body {
          /* background-image: url("/vector.svg");
          background-repeat: no-repeat;
          background-size: max(2097px, 100vw) auto;
          background-position: top right; */
        }
      }

      main {
        display: block;
      }

      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }

      hr {
        box-sizing: content-box; /* 1 */
        height: 0; /* 1 */
        overflow: visible; /* 2 */
      }

      pre {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      a {
        background-color: transparent;
      }

      abbr[title] {
        border-bottom: none; /* 1 */
        text-decoration: underline; /* 2 */
        text-decoration: underline dotted; /* 2 */
      }

      b,
      strong {
        font-weight: bolder;
      }

      code,
      kbd,
      samp {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      small {
        font-size: 80%;
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      sub {
        bottom: -0.25em;
      }

      sup {
        top: -0.5em;
      }

      img {
        border-style: none;
      }

      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit; /* 1 */
        font-size: 100%; /* 1 */
        line-height: 1.15; /* 1 */
        margin: 0; /* 2 */
      }

      button,
      input {
        /* 1 */
        overflow: visible;
      }

      button,
      select {
        /* 1 */
        text-transform: none;
      }

      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }

      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }

      button:-moz-focusring,
      [type="button"]:-moz-focusring,
      [type="reset"]:-moz-focusring,
      [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
      }

      fieldset {
        padding: 0.35em 0.75em 0.625em;
      }

      legend {
        box-sizing: border-box; /* 1 */
        color: inherit; /* 2 */
        display: table; /* 1 */
        max-width: 100%; /* 1 */
        padding: 0; /* 3 */
        white-space: normal; /* 1 */
      }

      progress {
        vertical-align: baseline;
      }

      textarea {
        overflow: auto;
      }

      [type="checkbox"],
      [type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
      }

      [type="number"]::-webkit-inner-spin-button,
      [type="number"]::-webkit-outer-spin-button {
        height: auto;
      }

      [type="search"] {
        -webkit-appearance: textfield; /* 1 */
        outline-offset: -2px; /* 2 */
      }

      [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      ::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
      }

      details {
        display: block;
      }

      summary {
        display: list-item;
      }
      summary::-webkit-details-marker {
        display: none;
      }

      template {
        display: none;
      }
      html {
        scroll-behavior: smooth;
      }
      [hidden] {
        display: none;
      }
      .container {
        margin-inline: auto;
        max-width: 1248px;
        padding-inline: 16px;
        overflow-x: hidden !important;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script
      is:inline
      src="https://cdn.pulse.is/livechat/loader.js"
      data-live-chat-id="666bc421a47fd60f7209c16f"
      async></script>
  </body>
</html>
