.map__selector-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  z-index: 0;
  @media screen and (min-width: 1150px) {
    flex-direction: row-reverse;
  }

  /* Стили для контейнера с кнопками */
  .map__selector-range {
    display: flex;
    align-items: center;
    position: relative;
  }
}
.leaflet__wrapper {
  width: 100%;
  max-width: 1100px;
  height: 350px;
  aspect-ratio: 844/572;
  background-color: transparent;
  z-index: 0 !important;

  @media screen and (max-width: 450px) {
    max-width: 500px;
    width: 100%;
  }

  @media screen and (min-width: 700px) {
    height: 562px;
    aspect-ratio: 844/572;
  }
}

.leaflet-label {
  background-color: transparent;
  border: none;
  font-size: 8px;
  box-shadow: none;
}

.leaflet-container {
  background-color: inherit;
}

.map-modal {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 8px;
  &__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &__item {
    background-color: #f6f5f5;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
