.leaflet-container {
  background: none !important;
  background-color: transparent;
  height: 300px;
  width: 100%;
  max-width: 830px !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e00502;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.range-buttons-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.range-button {
  // background: #e00502;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 25px;
  height: 25px;

  border: 2px solid #e00502;

  display: flex;
  align-items: center;
  justify-content: center;
}

.range-button:focus {
  outline: none;
}

.map {
  &__selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  &__selector-type {
    max-width: 370px;
    width: 100%;
  }

  &__selector-region {
    max-width: 370px;
    width: 100%;
  }

  &__selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.icon {
  width: 55px;
  height: 55px;
}

.icon-left {
  transform: rotate(180deg);
}

/* Стили для земельного банка */
.bank-container {
  margin-top: 20px;
  border-radius: 5px;
  // border: 1px solid #d9d6cf;
  background-color: #e00602;

  padding: 34px 30px;
  max-width: 370px;
  width: 100%;
}

.title-bank {
  font-size: 16px;
  // font-weight: bold;
  // color: rgba(77, 78, 77, 1);
  color: white;
  text-align: left;
  margin-bottom: 20px;
}

.data-bank {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  // color: rgba(77, 78, 77, 1);
  color: white;

  font-weight: bold;
  margin-bottom: 15px;
  margin: 0;
}

.data-bank-red {
  font-size: 24px;

  // color: #e00502;
}

/* Стили для планшетов и больших экранов */
@media (min-width: 768px) {
  .bank-container {
    flex-direction: row; /* Контейнеры выстраиваются в ряд на экранах от 768px */
    justify-content: space-between;
  }

  .container-bank-data {
    width: calc(50% - 10px); /* На больших экранах контейнеры занимают по 50% */
  }

  .title-bank {
    font-size: 14px;
    max-width: 350px;
    width: 100%;
  }

  .data-bank {
    font-size: 22px;
  }

  /* Стили для земельного банка */
  .bank-container {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #d9d6cf;
    padding: 34px 30px;
  }
}

@media (min-width: 1150px) {
  .bank-container {
    width: 270px;
  }

  .title-bank {
    font-size: 12px;
    // font-weight: bold;
    // color: rgba(77, 78, 77, 1);
    color: white;
    text-align: left;
    width: 150px;
    margin-bottom: 20px;
  }

  .map__selector {
    margin-left: 100px !important;
  }

  .map {
    &__selector-type {
      width: 270px;
    }
    &__selector-region {
      width: 270px;
    }

    &__selector-wrapper {
      width: 270px;
    }
  }
}
